/*
    Google Fonts:
    Big titles: font-family: 'Major Mono Display', monospace;
    Secondary titles: font-family: 'Roboto', sans-serif;
    Regular text: font-family: 'Noto Serif SC', serif;
*/

body {
    font-family: 'Noto Serif SC', serif;
    padding-left: 25%;
}

h1, head {
    font-family: 'Raleway', sans-serif;
    padding-top: 10%;
    padding-left: 15%;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

li.done {
    text-decoration: line-through;
    color: red;
}

li {
    color: blue;
}
